
<footer class="mt-2">
  <hr>
  <div class="container d-flex">
    <div class="row justify-content-lg-between">
      <div class="col-md-4 align-items-center mt-5 p-3">
        <h3>Angular Store</h3>
        <p>Where the world comes to shop...</p>
      </div>
      <div class="col-md-2 align-items-center mt-5 p-3 ms-3">
        <h5>Products</h5>
        <p>
          <a href="#" class="text-reset">Fashion</a>
        </p>
        <p>
          <a href="#" class="text-reset">Accessories</a>
        </p>
        <p>
          <a href="#" class="text-reset">Gadgets</a>
        </p>
        <p>
          <a href="#" class="text-reset"></a>
        </p>
      </div>
      <div class="col-md-2 align-items-center mt-5 p-3">
        <h5>Contact us</h5>
        <p>Thalassery, kerala</p>
        <p><i class="fas fa-phone me-1"></i> Phone: 9855625874</p>
        <p><i class="fas fa-phone me-1"></i> Phone: 9854561822</p>
        <p>www.angularstore.com</p>
      </div>
      <div class="col-md-2 align-items-center mt-5 p-3">
        <h5>Social</h5>
        <p><i class="fab fa-instagram me-1"></i>wwwww.instagram.com</p>
        <p><i class="fab fa-facebook me-1"></i>wwwww.facebook.com</p>
        <p><i class="fab fa-twitter me-1"></i>ww.twitter.com</p>
      </div>
    </div>
  </div>
</footer>
