<div class="container">
  <div class="container-xl prod-detail">
    <div class="row">
      <div class="col-xl-6">
        <div class="prod-img">
          <img src="{{ product.image }}" />
        </div>
      </div>
      <div class="col-xl-6">
        <h3 class="product-title">{{ product.title }}</h3>
        <div class="rating">
          <div class="stars">
            <span class="fa fa-star" [class.checked]="product.rating.rate >= 1"></span>
            <span class="fa fa-star" [class.checked]="product.rating.rate >= 2"></span>
            <span class="fa fa-star" [class.checked]="product.rating.rate >= 3"></span>
            <span class="fa fa-star" [class.checked]="product.rating.rate >= 4"></span>
            <span class="fa fa-star" [class.checked]="product.rating.rate >= 5"></span>
          </div>
        </div>
        <p class="product-description">{{ product.description }}</p>
        <h5 class="price">
          current price: <span>${{ product.price }}</span>
        </h5>
        <span class="review-no">{{ product.rating.count }} reviews</span>
        <p class="vote">
          <strong>{{ product.rating.rate * 100 }}</strong> of buyers enjoyed
          this product! <strong>({{ product.rating.rate }} rating)</strong>
        </p>
        <div class="action">
          <button class="add-to-cart btn btn-success" (click)="addToCartLocal(product.id)" type="button">
            Add to Cart
          </button>
          <button class="like btn btn-success" type="button">
            <span class="fa fa-heart"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>