.newDeal-container{
    padding: 16px;
}

.row{
    margin: 0;
    
}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.334);
}

.popup-container{
    background-color: #fff;
    width: 900px;
    height: 600px;
    position: relative;
    overflow-y: scroll;
    border-radius: 15px;
}

.popup-content{

    flex-direction: column;
    justify-content: center;
    align-items: center;

}