<div *ngIf="cartItemsLocal.length > 0; else noData" class="product-container">
  <div class="subtotal-button">
    <a type="button" class="cart-heading shadow-0 mt-2">My Cart ( {{ cartItemsLocal.length }} items)</a>
  </div>

  <div class="cart-box">

    <div class="cart-items col-lg-8 col-md-6 col-sm-12">
      <div *ngFor="let product of cartItemsLocal; let i = index" class="row card-body">

        <div class="my-2 shadow-2-strong col-2">
          <img src="{{ product.image }}" class="card-img-top" style="aspect-ratio: 0.5 / 0.5" />
        </div>

        <div class="prod-title  col-2">
          <h6 class="prod-title">{{ product.title }}</h6>
        </div>

        <div class="prod-price col-2">
          <span class="prod-price">$ {{ product.price }}/-</span>
        </div>

        <div class="prod-quantity  col-2">
          <span>Quantity: ({{ product.quantity }})</span>
        </div>

        <div class="cart-btn  col-2">
         <p><span type="button" (click)="removeFromCart(i)" class="rem-btn btn"><span class="fa fa-trash-o"></span> Remove</span></p>
          <p><span type="button" class="save-btn btn"><span class="fa fa-heart-o"></span> Save</span></p>
        </div>
      </div>
    </div>

    <div class="bill col-lg-4 col-md-6 col-sm-12">
      <app-bill [products]="cartItemsLocal" [subTotal]="subTotal"></app-bill>
    </div>

  </div>

</div>

<ng-template #noData>
  <h3 class="subtotal">No items to display in cart</h3>
</ng-template>