.cart-box{
    margin:0;
    width:100%;
    display: flex;
    flex-direction: row;
}

.card:hover{
    border: 1px solid rgba(0, 0, 0, 0.538);
    box-shadow: 5px 5px 5px 5px #888888;
}

.card-img-top{
    width: 100px;
    margin: auto;
    padding-top: 10px;
    object-fit: contain;
}


  .subtotal{
    display: flex;
    justify-content: center;
    padding:30px 0px 0px 0px;
  }

  .subtotal-button{
    margin-top: 1px!important;
    display: flex;
    justify-content: center;
  }

  .card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:95%;
    margin: 20px 2px 10px 10px;
    padding: 5px;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 5px 5px #8888882f;

  }

  .prod-title{
    width:150px;
    font-size: small;
  }

  .prod-price{
    font-size: small;
  }

  .prod-quantity{
        font-size: small;
  }

  .cart-btn{
    margin-right: 10px;
  }

  .cart-btn span{
    font-size: small;
  }

.rem-btn:hover{
    box-shadow: 5px 5px 5px 5px #8888882f;
    color:red;
  }

  .save-btn:hover{
    box-shadow: 5px 5px 5px 5px #8888882f;
    color:green;
  }

  .card-body:hover{
    box-shadow: 5px 5px 5px 5px #888888bf;
    margin: 19px 1px 9px 9px;

  }

  .cart-items{
    width:60%;
    margin: 0px;
  }

  .bill{
    width: 40%;
  }

  .cart-heading{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bolder;
  }